#carritoCompleto {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    overflow: scroll;
    @media(max-width: 768px){
        width: 300px;
    }
}
#carrito {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.carritoCerrado {
    position: relative !important;
    border: 0px transparent;
    width: fit-content !important;
}

.carritoAbierto {
    background-color: rgba(170, 170, 170, 0.5);
    backdrop-filter: blur(5px);
    border-left: solid $color-1 2px;
    z-index: 8;
}

.ulCarrito {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    background-color: white;
    list-style-type: none;
    border: solid $color-1 1px;
    background-color: white;
    border-radius: 10px;
}

#mostrarC {
    background-color: transparent;
    border: none;
}

#imgCarrito {
    width: 40px;

    &:hover,
    #imgLimpiar:hover,
    #imgX:hover {
        transform: scale(110%);
        transition: ease 0.3s;
    }
}

#limpiarC,
#ocultarC {
    background-color: transparent;
    border: none;
}

#imgLimpiar,
#imgX {
    width: 30px;
}

.botonQuitar {
    border: none;
    background-color: transparent;
}

.botonSumar, .botonRestar {
    border: none;
    background-color: transparent;
}

#botonMasMenosCarrito {
    width: 15px;
}

#carritoTotal {
    margin: 5px;
    justify-self: end;
}

#totalC {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

#totalPrecio {
    width: 40%;
    padding: 5px 0px;
    background-color: white;
    border: solid $color-1 1px;
    border-radius: 10px;
}

.carritoVacio {
    height: 80%;
}

#imgBotonCarrito {
    width: 25px;
    padding: 3px;
}

.textoCarrito {
    font-weight: bold;
}

.imgCarrito {
    width: 100px;
}

